* {
  font-family: "Poppins";
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.nameOfPage {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left;
          transform-origin: left; }

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
  padding-top: 25px; }
  .header .header__logo {
    color: #fff;
    height: 30px; }
    .header .header__logo img {
      height: 100%; }
  .header .header__links {
    color: #fff;
    margin-left: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .header .header__links-link {
      color: #fff; }
      .header .header__links-link:not(:first-child) {
        margin-left: 10px; }
  .header .header__burger {
    color: #fff;
    margin-left: 820px; }

.text {
  font-size: 11px;
  opacity: 0.8;
  color: #fff; }

.op1 {
  opacity: 1; }

.mt25 {
  margin-top: 25px; }

.title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase; }
  .title span {
    color: #f3ca2f; }

.subtitle {
  font-weight: 500;
  font-size: 30px; }

.container {
  padding-left: 240px;
  padding-right: 240px;
  position: relative; }

.mainpage {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #272727; }
  .mainpage hr {
    margin-top: 100px;
    border-radius: 5px;
    height: 2px;
    border-color: #f3ca2f;
    width: 100px;
    margin-left: 0; }

.mission {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #272727; }
  .mission__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .mission__wrapper-descr {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .mission__wrapper-graph {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .mission__wrapper-graph progress {
        width: 300px; }
      .mission__wrapper-graph .text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .mission__wrapper-graph .text .percent {
          margin-left: auto; }

.works {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #272727; }
  .works__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .works__wrapper-item {
      margin-top: 35px;
      width: 200px;
      height: 150px;
      border: 0.1px solid;
      border-color: rgba(255, 255, 255, 0.5);
      border-radius: 3px;
      -webkit-transition: 1s all;
      transition: 1s all;
      padding: 20px; }
      .works__wrapper-item .title {
        text-transform: none;
        font-weight: 500;
        font-size: 15px; }
      .works__wrapper-item .text {
        margin-top: 10px; }
      .works__wrapper-item:hover {
        background-color: #f3ca2f; }
        .works__wrapper-item:hover .title {
          color: #000; }
        .works__wrapper-item:hover .text {
          color: #000; }

.services {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #272727; }
  .services__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .services__wrapper-descr .text:not(:first-child) {
      text-transform: uppercase;
      font-size: 14px; }
    .services__wrapper-descr .text:nth-child(n+3) {
      margin-top: 15px; }
    .services__wrapper-descr .text:nth-child(3) {
      margin-top: 50px; }
    .services__wrapper-photo {
      position: relative; }
      .services__wrapper-photo-img {
        position: absolute;
        width: 330px;
        height: 350px;
        right: 0; }
      .services__wrapper-photo-time {
        position: absolute;
        top: 280px;
        right: 220px;
        font-size: 115px;
        font-weight: 500;
        color: #fff;
        border-radius: 5px; }
        .services__wrapper-photo-time span {
          text-transform: uppercase;
          font-size: 15px;
          position: absolute;
          top: 65px;
          left: 100px; }

.resume {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #272727; }
  .resume__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .resume__wrapper-item {
      position: relative;
      padding: 50px 20px 0 40px;
      width: 380px;
      height: 490px;
      background-color: rgba(0, 0, 0, 0.5); }
      .resume__wrapper-item hr {
        position: absolute;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        left: -170px;
        top: 230px;
        width: 100%;
        border-color: #272727; }
      .resume__wrapper-item-title {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 30px;
        background-color: rgba(243, 202, 47, 0.7);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 14px;
        font-weight: 600; }
      .resume__wrapper-item-descr:nth-child(4) {
        margin-top: 25px; }
      .resume__wrapper-item-descr .title {
        font-size: 15px; }
      .resume__wrapper-item-descr .text {
        opacity: 1;
        margin-top: 10px; }
        .resume__wrapper-item-descr .text:nth-child(5) {
          margin-top: 25px;
          opacity: 0.8; }
      .resume__wrapper-item-descr span {
        display: block;
        font-size: 11px;
        margin-top: 10px;
        color: #f3ca2f; }

.partners {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #272727; }
  .partners__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .partners__wrapper-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 200px;
      height: 100px; }
      .partners__wrapper-item:nth-child(n+5) {
        margin-top: 50px; }
      .partners__wrapper-item-img {
        width: 100%; }

.feedback {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #272727; }
  .feedback__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .feedback__wrapper-descr {
      width: 50%; }
      .feedback__wrapper-descr .quotes {
        color: #f3ca2f;
        font-size: 200px;
        line-height: 200px; }
    .feedback__wrapper-graph {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      width: 50%; }
      .feedback__wrapper-graph .author {
        font-size: 13px;
        font-weight: 700;
        margin-top: 60px; }

/*# sourceMappingURL=style.css.map */